.invoice-header {
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: auto;
}

.company-logo {
  width: 130px;
  margin: 0 0 0px 0;
}

.invoice-details {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: 30px 30px 30px 30px;
}

.billto h4,
.billto h3,
.billto h2 {
  margin: 0;
}

.billto {
  margin: 20px 0 30px 0;
  border-radius: 7px;
  padding: 20px 30px;
  background: #f5f5f8;
}
