.invoice-border {
  height: 10px;
  width: 100%;
  background-image: linear-gradient(45deg, #4e79ff, #a78dff);
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 7px 7px 0 0;
}

.page-container {
  width: 800px;
  padding: 70px;
  background: #fff;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  position: relative;
}
