header {
  padding: 15px;
  background: #fff;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  display: grid;
  grid-template-columns: 50px auto 50px 250px;
  grid-template-rows: auto;
  grid-gap: 15px;
  position: fixed;
  width: calc(100% - 30px);
  z-index: 1;
}
